.alfresco-renderers-Property.alfresco-renderers-Property.block{
    margin: 0px 0px 0.5em;
}
.alfresco-renderers-Property .inner .label{
    font-weight: bold;
    font-size: 1em;
    margin: 0 0.3em 0 0.3em;
}

.case-info-widget .alfresco-renderers-Property .inner .label{
	display: inline-block;
	width: 120px;
}