.grid-action.action-doc-preview {
    vertical-align: top;
    background: url(../../../../../../openesdh/images/preview-16.png) no-repeat;
}

.grid-action.action-doc-move {
    vertical-align: top;
    background: url(../../../../../../components/documentlibrary/actions/document-move-to-16.png) no-repeat;
}

.grid-action.action-doc-copy {
    vertical-align: top;
    background: url(../../../../../../components/documentlibrary/actions/document-copy-to-16.png) no-repeat;
}

.grid-action.action-doc-details {
    vertical-align: top;
    background: url(../../../../../../components/documentlibrary/actions/document-view-content-16.png) no-repeat;
}