.NotesGrid .dgrid {
	border: none;	
	height: 15em;
}

.NotesGrid .dgrid-row {
    padding: .5em 10px;
}

.NotesGrid .dgrid-header, 
.NotesGrid .dgrid-header-row, 
.NotesGrid .dgrid-footer {
	background-color: white;
}

.NotesGrid  .dgrid-scroller {
	overflow-y: auto;
}

.NotesGrid .note-meta {
	font-size: 11px;
	margin-top: 5px;
}

.NotesGrid .note-header .created {
    display: block;
    float: left;
    margin-right: 1em;
    color: @de-emphasized-font-color;
}

.NotesGrid .note-header .author {
    display: block;
    margin-left: 13em;
}

.NotesGrid .note-header .author a {
	color: @de-emphasized-font-color;
}

.NotesGrid .note-content {
    clear: both;
    margin-top: .25em;
    white-space: pre-wrap;
}