.alfresco-dashlets-Dashlet.dashlet .titleBarActions {
    opacity: inherit;
}
.alfresco-dashlets-Dashlet.dashlet .alfresco-buttons-AlfButton{
    background-image: none !important;
    background-color: inherit;
    border: none !important;
}

.add-icon-16
{
    background: transparent url(../../../../../../components/images/add-icon-16.png) no-repeat center center;
    padding: 8px;
}