target
.idea
alf_data_dev
*.iml
.idea
.DS_Store
.project
.classpath
.settings
alfresco.log
*.log*
nbactions.xml
openesdh-repo/src/main/amp/config/alfresco/module/openesdh-repo/module.properties
nbproject