<div class="category-picker">
    <div class="header" data-dojo-attach-point="headerNode">
        <a href="#" class="back-button"
              data-dojo-attach-point="backButtonNode">&lsaquo;</a>
        <span data-dojo-attach-point="currentItemNode"></span>
        <span class="loading" data-dojo-attach-point="loadingNode"></span>
    </div>
    <div class="selected-items-container"
         data-dojo-attach-point="selectedItemsNode">
        <div class="empty-selection"
             data-dojo-attach-point="emptySelectionNode"></div>
    </div>
    <div class="container" data-dojo-attach-point="containerNode">
    </div>
    <div style="clear:both;"></div>
</div>
