/* Site-wide Styles */
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner
{
    border: none;
}

.yui-overlay,
.alfresco-share .sticky-wrapper,
.login-panel
{
	font:13px/1.231 Roboto,arial,helvetica,clean,sans-serif;
}

.alfresco-share .sticky-wrapper select,
.yui-overlay select,
.alfresco-share .sticky-wrapper input,
.yui-overlay input,
.alfresco-share .sticky-wrapper textarea,
.yui-overlay textarea,
.alfresco-share .sticky-wrapper button,
.yui-overlay button
{
	font:99% Roboto,arial,helvetica,clean,sans-serif;
}

.alfresco-share .sticky-wrapper hr,
.yui-overlay hr
{
   height: 0 !important;
}

.sticky-wrapper,
.sticky-footer
{
   /*font-family: Roboto, Arial, sans-serif;*/
   color: #333;
}

.sticky-footer
{
   font-size: 81%;
}

/*.sticky-wrapper a,
.sticky-wrapper a:visited,
.sticky-wrapper a:hover,
.sticky-footer a,
.sticky-footer a:visited,
.sticky-footer a:hover,
.yui-overlay a,
.yui-overlay a:visited,
.yui-overlay a:hover
{
   color: #000;
   text-decoration: none;
}

.sticky-wrapper a:hover,
.sticky-footer a:hover,
.yui-overlay a:hover
{
   text-decoration: underline;
}*/

.sticky-wrapper h1,
.yui-overlay h1
{
   /*font-family: Roboto Condensed, Arial, sans-serif;*/
   font-size: 185%;
   font-weight: normal;
   top: -4px;
   left: 162px;
}

/** linked to h1 above - right margin for long name wrap */
.page-title div.title
{
   margin-right: 162px;
}

h1.sub-title
{
   padding-top: 0.75em;
}

.sticky-wrapper h2,
.yui-overlay h2
{
   font-size: 123.1%;
   font-weight: normal;
}

h2.thin
{
   font-weight: normal;
}

h1 .light,
h1 .lighter,
h2 .light,
h2 .lighter
{
   color: #ccc;
   font-weight: normal;
}

.sticky-wrapper h3,
.yui-overlay h3
{
   font-size: 108%;
   font-weight: normal !important;
}

.sticky-wrapper h4,
.yui-overlay h4
{
   font-weight: normal !important;
}

h3 .light,
h3 .lighter,
h4 .light,
h4 .lighter
{
   color: #aaa;
}

.sticky-wrapper hr
{
   color: #eee;
   background-color: #eee;
}

.sticky-wrapper label,
.share-form .viewmode-label
{
   color: #333;
   margin-right: 0.4em;
   padding-bottom: 0.2em;
   font-family: Roboto Bold, Arial, sans-serif;
   font-weight: normal;
}

/*.alfresco-share .sticky-wrapper
{
   background-color: #fff;
}

.label
{
}*/

.error
{
   color: red;
}

.alfresco-share .sticky-wrapper .error
{
   background: white !important;
   color: red !important;
   font-family: Roboto Bold, Arial, sans-serif;
   font-weight: normal;
   padding: 0.2em 1em;
}

.alfresco-share .sticky-wrapper .error-alt
{
   background-color: red !important;
   color: white !important;
   font-family: Roboto Bold, Arial, sans-serif;
   font-weight: normal;
   padding: 0.2em 1em;
}

.light
{
   font-weight: normal;
}

.lighter
{
   font-size: 93%;
   font-weight: normal;
}

.faded
{
   color: #999;
}

/* Override YUI Button styles for - flat button style */

/*.yui-skin-openesdhTheme .yui-button,
.yui-skin-openesdhTheme .yui-button .first-child
{
   background: none repeat scroll 0 0 #fff;
}*/

.yui-skin-openesdhTheme div.flat-button span.yui-button
{
   background: none;
   border-color: transparent;
}

.yui-skin-openesdhTheme div.flat-button span.yui-button span.first-child
{
   border-color: transparent;
}

.yui-skin-openesdhTheme div.flat-button span.yui-button-hover,
.yui-skin-openesdhTheme div.flat-button span.yui-button-focus
{
   background: transparent;
   border-color: #ccc;
}

.yui-skin-openesdhTheme div.flat-button span.yui-button-hover span.first-child,
.yui-skin-openesdhTheme div.flat-button span.yui-button-focus span.first-child
{
   border-color: #ccc;
}

.yui-skin-openesdhTheme div.flat-button span.yui-radio-button-checked,
.yui-skin-openesdhTheme div.flat-button span.yui-checkbox-button-checked
{
   border: 1px solid #ccc;
}

/* DASHLETS */

.dashlet
{
   border: 1px solid #ccc;
   background-color: #fff;
   border-radius: 3px;
}

.dashlet .title
{
   /*border-bottom: 1px solid #ccc;*/
   /*background-color: #eee;*/
   border-top-left-radius: 3px;
   border-top-right-radius: 3px;
   color: #333;
   font-size: 15px;
   font-weight: bold;
   padding: 10px;
}

.dashlet .feed
{
   background-image: url(images/feed-icon-16.png);
   background-repeat: no-repeat;
}

.dashlet .toolbar
{
   border-bottom: 1px solid #ccc;
}

.dashlet .body
{
   background-color: #fff;
}

.dashlet .welcome-body a,
.dashlet .welcome-body a:visited,
.dashlet .welcome-body a:hover
{
   color: #333;
}

.dashlet .detail-list-item
{
   border-bottom: 1px solid #eee;
}

.dashlet.dynamic-welcome
{
   background: none repeat scroll 0 0 #fafafa !important;
   border: 1px solid #ccc !important;
}

.dashlet div.flat-button span.yui-radio-button-checked,
.dashlet div.flat-button span.yui-checkbox-button-checked
{
   background: none;
}

.welcome-border-container
{
   border-right: solid 1px #ccc !important;
}

.yui-skin-openesdhTheme .yui-panel-container.shadow .underlay
{
   display: none !important;
}

.yui-skin-openesdhTheme .yui-panel
{
   border-bottom: medium none;
   box-shadow: 0.33px 2px 8px rgba(0, 0, 0, 0.3);
   border-radius: 6px;
   min-width: 36em;
}

.yui-skin-openesdhTheme .mask
{
   opacity: 0.2;
}

.yui-skin-openesdhTheme .yui-panel .hd,
.yui-skin-openesdhTheme .yui-panel .form-buttons,
.yui-skin-openesdhTheme .yui-panel .bdft,
.yui-skin-openesdhTheme .yui-panel .ft
{
   color: #333;
   background: #eee;
   border-left-color: #ccc;
   border-right-color: #ccc;
}

.yui-skin-openesdhTheme .yui-panel .hd
{
   font-family: Roboto Condensed, Arial, sans-serif;
   font-size: 185%;
   font-weight: normal;
   border-bottom: 1px solid #ccc;
   border-top-left-radius: 6px;
   border-top-right-radius: 6px;
   line-height: 1.5em;
   padding: 0.25em;
}

.yui-skin-openesdhTheme .yui-panel .form-buttons,
.yui-skin-openesdhTheme .yui-panel .bdft
{
   font-size: 100%;
   border-top: 1px solid #ccc;
   border-bottom-left-radius: 6px;
   border-bottom-right-radius: 6px;
}

.yui-skin-openesdhTheme .yui-panel div.form-fields
{
   border-bottom: none;
}

.yui-skin-openesdhTheme .yui-panel .ft
{
   border-top: 1px solid #ccc;
   padding: 5px;
   border-bottom-left-radius: 6px;
   border-bottom-right-radius: 6px;
}

.yui-skin-openesdhTheme .yui-panel .bd
{
   color: #333;
   background-color: #fff;
   border-left-color: #ccc;
   border-right-color: #ccc;
   border-bottom-left-radius: 6px;
   border-bottom-right-radius: 6px;
}

.yui-skin-openesdhTheme .yui-panel .bd .yui-resize .yui-resize-handle
{
   background-color: transparent;
}

.yui-skin-openesdhTheme .yui-panel .bd .help
{
   font-size: 83%;
}

#prompt .bd
{
   border-bottom-left-radius: 0;
   border-bottom-right-radius: 0;
}

/* Data Lists: DataTable (Needs to appear before yui-dt-highlighted rule) */

.yui-skin-openesdhTheme .datagrid tr.yui-dt-even
{
   background-color: #fff;
}
.yui-skin-openesdhTheme .datagrid tr.yui-dt-even td.yui-dt-asc,
.yui-skin-openesdhTheme .datagrid tr.yui-dt-even td.yui-dt-desc
{
   background-color: #f8f8f8;
}

.yui-skin-openesdhTheme .datagrid tr.yui-dt-odd
{
   background-color: #f8f8f8;
}
.yui-skin-openesdhTheme .datagrid tr.yui-dt-odd td.yui-dt-asc,
.yui-skin-openesdhTheme .datagrid tr.yui-dt-odd td.yui-dt-desc
{
   background-color: #f0f0f0;
}

/* End Data Lists */

.yui-skin-openesdhTheme .yui-dt-data tr.yui-dt-highlighted td.yui-dt-asc,
.yui-skin-openesdhTheme .yui-dt-data tr.yui-dt-highlighted td.yui-dt-desc
{
   background-color: #eee;
   cursor: auto;
}

.yui-skin-openesdhTheme .yui-dt-message,
.yui-skin-openesdhTheme .yui-dt-message tr.yui-dt-highlighted
{
   background-color: #fff;
}

/* Style the default message  */

.yui-skin-openesdhTheme #message .bd
{
   background-color: #808080;
   color: white;
}

.yui-skin-openesdhTheme #message .bd span.wait
{
   background-image: url(images/wait.gif);
   background-repeat: no-repeat;
}

.yui-skin-openesdhTheme .yui-overlay-hidden #message .bd span.wait
{
   display: none;
}

/* Style the default prompt */

.yui-skin-openesdhTheme #prompt,
.yui-skin-openesdhTheme #userInput
{
   border-top: 1px solid #ccc;
   border-bottom: 1px solid #ccc;
   background-color: #fff;
}

.yui-skin-openesdhTheme #prompt .bd,
.yui-skin-openesdhTheme #userInput .bd
{
   background-color: #fff;
}

.yui-skin-openesdhTheme #prompt .ft,
.yui-skin-openesdhTheme #userInput .ft
{
   border-left: 1px solid #ccc;
   border-right: 1px solid #ccc;
   background-color: #eee;
}

/* Page title and navigation styles */

.page-title
{
   color: #000;
   padding: 12px 10px;
}

.page-title a,
.page-title a:visited
{
   color: #000;
}

.page-title a:hover
{
   color: #fff;
}

.page-title h1 span
{
   color: #333;
}

.site-navigation
{
   background: none;
   border-bottom: 1px solid #ccc;
   border-top: 1px solid #ccc;
   color: white;
}

span.navigation-separator,
span.navigation-item,
span.navigation-item-alt
{
   color: #ccc;
}

span.navigation-item a,
span.navigation-item a:visited
{
   color: #000;
}

span.navigation-item a.active-page,
span.navigation-item a.active-page:visited
{
   color: #000;
   font-family: Roboto Bold, Arial, sans-serif;
}

span.navigation-item a:hover
{
   color: #000;
   background-color: #eee;
}

span.navigation-separator
{
   border-right: 1px solid #ccc;
}

span.navigation-separator-alt
{
   border-right: 1px solid #ccc;
}

/* Standard toolbars */

.share-toolbar,
.toolbar
{
   border-bottom: 1px solid #ccc;
}

.share-toolbar .action-bar,
.toolbar .action-bar
{
   border-right: 1px solid #ccc;
}

.share-toolbar .separator,
.toolbar .separator
{
   border-right: 1px solid #ccc;
}

.share-toolbar .backLink
{
   background-image: url(../../components/images/back-arrow.png);
   background-position: left center;
   background-repeat: no-repeat;
   color: #333333;
   padding: 0 5px 0 19px;
   margin-right: 5px;
}

.share-toolbar .forwardLink
{
   background-image: url(../../components/images/forward-arrow-16.png);
   background-position: right center;
   background-repeat: no-repeat;
   color: #333333;
   padding: 0 21px 0 5px;
   margin-right: 5px;
}

.sticky-wrapper strong
{
}

.sticky-wrapper em
{
   font-style: italic;
}

.rich-content a.wiki-missing-page
{
   color: #CC2200 !important;
}

/* Share forms */

.share-form .form-container .form-fields
{
   border: 1px solid #ccc !important;
   background-color: #fff;
   margin-left: 10px;
   width: 800px;
   box-shadow: 0.33px 2px 8px rgba(0, 0, 0, 0.1);
}

.share-form .form-manager h1
{
   margin-bottom: -4px;
}

.form-container textarea,
.page-form-body textarea
{
   width: 99.5% !important;
}

.defaultSkin table.mceLayout
{
   width: 100% !important;
}

.mceEditor.defaultSkin
{
   display: block;
}

.input,
.sticky-wrapper input[type="text"],
.sticky-wrapper input[type="password"],
.sticky-wrapper textarea,
.sticky-wrapper select,
.yui-overlay input[type="text"],
.yui-overlay input[type="password"],
.yui-overlay textarea,
.yui-overlay select,
.form-element-border,
.share-form .yui-dt table
{
   border: 1px solid #ccc;
   font-weight: normal;
}

.share-form .yui-dt table td.yui-dt-last
{
   border-right: none;
}

.form-element-background-color
{
   background-color: #fff;
}

.create-content-mgr .heading
{
   font-family: Roboto Condensed, Arial, sans-serif;
   font-size: 185% !important;
   padding: 0.5em 0.2em 0 !important;
}

.yui-skin-openesdhTheme .yui-navset .yui-content
{
   background: #fafafa;
}

/* same as theme-color-2 */

.toolbar .link a:hover,
.members-bar .member-link a:hover
{
   color: #333;
}

/* Richtext Editor Plug-ins */

.yui-toolbar-container .yui-toolbar-alfresco-imagelib span.yui-toolbar-icon,
span.mce_alfresco-imagelibrary
{
   background-position: 0 0 !important;
   background-image: url(images/alfresco-imagelib.png) !important;
}

.mce_alfresco-imagelibrary img
{
   background-position: 0px 2px !important;
}

.yui-toolbar-container .yui-toolbar-alfresco-imagelib span.yui-toolbar-icon,
span.mce_alfresco-linklibrary
{
   background-position: 0 0 !important;
   background-image: url(images/alfresco-linklib.png) !important;
}

.mce_alfresco-linklibrary img
{
   background-position: 0px 2px !important;
}

/* Override checked styles for doclist */

.yui-skin-openesdhTheme .no-check-bg div.flat-button span.yui-radio-button-checked,
.yui-skin-openesdhTheme .no-check-bg div.flat-button span.yui-checkbox-button-checked,
.yui-skin-openesdhTheme .no-check-bg div.flat-button span.yui-radio-button-checked,
.yui-skin-openesdhTheme .no-check-bg div.flat-button span.yui-checkbox-button-checked
{
   border-color: #ccc;
   background: none;
}

.yui-skin-openesdhTheme .no-check-bg div.flat-button span.yui-radio-button-checked span.first-child,
.yui-skin-openesdhTheme .no-check-bg div.flat-button span.yui-checkbox-button-checked span.first-child,
.yui-skin-openesdhTheme .no-check-bg div.flat-button span.yui-radio-button-checked span.first-child,
.yui-skin-openesdhTheme .no-check-bg div.flat-button span.yui-checkbox-button-checked span.first-child
{
   border-color: #ccc;
}

/* Ensure hover state can be activated */

.yui-skin-openesdhTheme .no-check-bg div.flat-button span.yui-button-hover,
.yui-skin-openesdhTheme .no-check-bg div.flat-button span.yui-button-focus
{
   background: none;
   border-color: #ccc;
}

/* Override YUI Button styles for - title button style */

.yui-skin-openesdhTheme .title-button .yui-button
{
   border-color: #ccc;
}

.yui-skin-openesdhTheme .title-button a:hover
{
   color: #000;
}

.yui-skin-openesdhTheme .title-button .yui-button .first-child,
.yui-skin-openesdhTheme .title-button .yui-button
{
   border-color: #ccc;
}

/*.yui-skin-openesdhTheme .yui-button,
.yui-skin-openesdhTheme .yui-button .first-child
{
   background: none repeat scroll 0 0 #fff;
}*/

/* Override YUI Button styles for - attention button style */

.yui-skin-openesdhTheme .alfresco-attention-yui-button,
.yui-skin-openesdhTheme .alfresco-attention-yui-button span.first-child
{
   border-color: #e0b000;
}

.yui-skin-openesdhTheme .alfresco-attention-yui-button.yui-button
{
   background-position: 0 -2000px;
}

.yui-skin-openesdhTheme .alfresco-attention-yui-button.yui-button-hover
{
   background-position: 0 -2100px;
}

.yui-skin-openesdhTheme .alfresco-attention-yui-button.yui-button-disabled
{
   background-position: 0 -2200px;
}

/* Paginator link styling */

.yui-skin-openesdhTheme .yui-pg-container span
{
   color: #333;
}

.yui-skin-openesdhTheme .yui-pg-container span.yui-pg-page.yui-pg-current-page
{
   color: #333;
   font-weight: normal;
}

.yui-skin-openesdhTheme .yui-pg-container a.yui-pg-first,
.yui-skin-openesdhTheme .yui-pg-container a.yui-pg-previous,
.yui-skin-openesdhTheme .yui-pg-container a.yui-pg-page,
.yui-skin-openesdhTheme .yui-pg-container a.yui-pg-next,
.yui-skin-openesdhTheme .yui-pg-container a.yui-pg-last
{
   border-color: #ccc;
   color: #333;
   text-decoration: none;
}

.yui-skin-openesdhTheme .yui-pg-container a.yui-pg-first:hover,
.yui-skin-openesdhTheme .yui-pg-container a.yui-pg-previous:hover,
.yui-skin-openesdhTheme .yui-pg-container a.yui-pg-page:hover,
.yui-skin-openesdhTheme .yui-pg-container a.yui-pg-next:hover,
.yui-skin-openesdhTheme .yui-pg-container a.yui-pg-last:hover
{
   text-decoration: underline;
}

/* A combination of a link and splitbutton wrapped inside a span */

.yui-skin-openesdhTheme .link-menu-button .yui-button span button
{
   color: #333;
   font-size: 2px;
   background-image: url(images/link-menu-button-arrow.png);
   background-position: center center;
}

body.yui-skin-openesdhTheme .link-menu-button .yui-button.yui-button-hover
{
   background-color: #fff;
   border: 1px solid #ccc;
}

body.yui-skin-openesdhTheme .link-menu-button.link-menu-button-menu-active .yui-button.yui-button-hover
{
   border-color: transparent;
   background-color: transparent;
}

.yui-skin-openesdhTheme .link-menu-button .yui-button span.first-child,
.yui-skin-openesdhTheme .link-menu-button .yui-button.yui-button-activeoption span.first-child,
.yui-skin-openesdhTheme .link-menu-button .yui-button.yui-button-hover span.first-child
{
   border-width: 0;
}

.yui-skin-openesdhTheme .link-menu-button span.link-menu-button-link
{
   border-right: 1px #ccc solid;
}

body.yui-skin-openesdhTheme .link-menu-button.link-menu-button-menu-active
{
   background-color: #fff;
   border: 1px solid #ccc;
}

.yui-skin-openesdhTheme .link-menu-button.link-menu-button-menu-active .yui-button.yui-menu-button-hover
{
   border: 1px solid #fff;
}

.topiclist .yui-dt-liner
{
   padding: 0;
}

.topicview
{
   border: 1px solid #ccc !important;
}

.links-body .yui-dt td
{
   border-bottom: 1px solid #ccc !important;
}

.links-body .over
{
   border: 1px solid #ccc !important;
}

.links-header .links-infobar
{
   border-bottom: 1px solid #ccc !important;
}

.nodeFooter
{
   border-bottom: 1px solid #ccc !important;
   border-top: 1px solid #ccc !important;
   padding: 6px !important;
}

.topicview .nodeFooter, .postview .nodeFooter, .reply .nodeFooter, .linksview .nodeFooter
{
   border: none !important;
}

.task-list .task-list-bar
{
   border-bottom: 1px solid #ccc !important;
}

.task-list .tasks tr:hover td.yui-dt-last .yui-dt-liner
{
   border-left: 1px solid #ccc !important;
}

.task-list .task-edit-link-over,
.task-list .task-view-link-over,
.task-list .workflow-view-link-over
{
   border: 1px solid #ccc !important;
}

/* blog/wiki action items links */

body.yui-skin-openesdhTheme .wikipage .editPage a:hover,
body.yui-skin-openesdhTheme .wikipage .deletePage a:hover,
body.yui-skin-openesdhTheme .wikipage .detailsPage a:hover,
body.yui-skin-openesdhTheme .nodeEdit .onEditBlogPost a:hover,
body.yui-skin-openesdhTheme .nodeEdit .onDeleteBlogPost a:hover
{

}

.wikipage
{
   border-bottom: 1px solid #ccc !important;
}

/* Edit Form */
.inline-edit-mgr .heading
{
   margin-bottom: -8px;
}

/* YUI Menu */

body.yui-skin-openesdhTheme .yuimenu .bd
{
   border: 1px solid #ccc;
   padding: 3px;
   font-size: 109%;
}

body.yui-skin-openesdhTheme .yuimenu .bd a:focus
{
   outline: none;
   background-color: #eee;
}

/*
 * This ensures that the quick share actions can get displayed focus
 */
body.yui-skin-openesdhTheme .yuimenu.quickshare-action-menu .bd a:focus
{
   outline: 1px dotted;
}

.yui-skin-openesdhTheme .yui-menu-shadow-visible
{
   display: none !important;
}

.yui-skin-openesdhTheme .yuimenu h6
{
   border: none;
   font-family: Roboto Bold, Arial, sans-serif;
}

/* YUI Menu roll over state */

body.yui-skin-openesdhTheme .yuimenuitemlabel
{
   text-decoration: none;
}

body.yui-skin-openesdhTheme .yuimenu .bd ul li.yuimenuitem-selected
{
   background-color: #eee;
}

body.yui-skin-openesdhTheme .yuimenu .bd ul li.yuimenuitem .yuimenuitemlabel,
body.yui-skin-openesdhTheme .yuimenu .bd ul li.yuimenuitem .yuimenuitemlabel a,
body.yui-skin-openesdhTheme .yuimenu .bd ul li.yuimenuitem-selected div .yuimenuitemlabel,
body.yui-skin-openesdhTheme .yuimenu .bd ul li.yuimenuitem-selected div .yuimenuitemlabel a
{
   color: #000;
}

body.yui-skin-openesdhTheme .yuimenu .bd ul li.yuimenuitem .yuimenuitemlabel-disabled
{
   color: #aaa;
   cursor: default;
}

/*end YUI Menu */

/* Location */

.yui-skin-openesdhTheme .location-path,
.yui-skin-openesdhTheme .location-site
{
   background-position: left 50%;
   background-repeat: no-repeat;
   padding: 2px 0 2px 20px;
}

.yui-skin-openesdhTheme .location-none
{
   margin-left: 0.5em;
}

.yui-skin-openesdhTheme .location-path
{
   background-image: url(../../components/documentlibrary/images/folder-closed-16.png);
   margin-left: 0.5em;
}

.yui-skin-openesdhTheme .location-site
{
   background-image: url(../../components/images/site-16.png);
}

/* end Location*/

/* Doclist */
body.yui-skin-openesdhTheme .doclist .more-actions a:active,
body.yui-skin-openesdhTheme .doclist .more-actions a:hover
{
   background-color: #eee;
   color: #333;
}

body.yui-skin-openesdhTheme .doclist div.more-actions
{
   border: 1px solid #ccc;
}

body.yui-skin-openesdhTheme .doclist .action-set a:active,
body.yui-skin-openesdhTheme .doclist .action-set a:hover,
body.yui-skin-openesdhTheme .doclist .action-set .highlighted,
#divCalendarContent .yui-dt-col-actions a:active,
#divCalendarContent .yui-dt-col-actions a:hover
{
   border: 1px solid #ccc;
}

body.yui-skin-openesdhTheme .yui-dt-data tr.yui-dt-highlighted,
body.yui-skin-openesdhTheme .doclist tr.yui-dt-odd.yui-dt-highlighted,
body.yui-skin-openesdhTheme .doclist tr.yui-dt-even.yui-dt-highlighted,
body.yui-skin-openesdhTheme .links-body tr.links-selected-row,
body.yui-skin-openesdhTheme .over,
.topicview
{
   background-color: #F5F5F5;
}

.site-members .search-controls
{
   background-color: #F5F5F5;
}

body.yui-skin-openesdhTheme .doclist tr.yui-dt-odd.yui-dt-highlighted td.yui-dt-last,
body.yui-skin-openesdhTheme .doclist tr.yui-dt-even.yui-dt-highlighted td.yui-dt-last
{
   border-left: 1px solid #ccc;
}

body.yui-skin-openesdhTheme .categoryview .category .ygtvtn,
body.yui-skin-openesdhTheme .categoryview .category .ygtvtm,
body.yui-skin-openesdhTheme .categoryview .category .ygtvtmh, body.yui-skin-openesdhTheme .categoryview .category .ygtvtmhh,
body.yui-skin-openesdhTheme .categoryview .category .ygtvtp,
body.yui-skin-openesdhTheme .categoryview .category .ygtvtph, body.yui-skin-openesdhTheme .categoryview .category .ygtvtphh,
body.yui-skin-openesdhTheme .categoryview .category .ygtvln,
body.yui-skin-openesdhTheme .categoryview .category .ygtvlm,
body.yui-skin-openesdhTheme .categoryview .category .ygtvlmh, body.yui-skin-openesdhTheme .categoryview .category .ygtvlmhh,
body.yui-skin-openesdhTheme .categoryview .category .ygtvlp,
body.yui-skin-openesdhTheme .categoryview .category .ygtvlph, body.yui-skin-openesdhTheme .categoryview .category .ygtvlphh,
body.yui-skin-openesdhTheme .categoryview .category .ygtvdepthcell
{
   background-image: url(images/categoryview-sprite.gif);
   padding: 1px;
}

body.yui-skin-openesdhTheme .treeview a:focus,
body.yui-skin-openesdhTheme .category a:focus
{
   outline: 1px solid #ccc;
}

body.yui-skin-openesdhTheme .treeview .ygtvtn,
body.yui-skin-openesdhTheme .treeview .ygtvtm,
body.yui-skin-openesdhTheme .treeview .ygtvtmh,
body.yui-skin-openesdhTheme .treeview .ygtvtmhh,
body.yui-skin-openesdhTheme .treeview .ygtvtp,
body.yui-skin-openesdhTheme .treeview .ygtvtph,
body.yui-skin-openesdhTheme .treeview .ygtvtphh,
body.yui-skin-openesdhTheme .treeview .ygtvln,
body.yui-skin-openesdhTheme .treeview .ygtvlm,
body.yui-skin-openesdhTheme .treeview .ygtvlmh,
body.yui-skin-openesdhTheme .treeview .ygtvlmhh,
body.yui-skin-openesdhTheme .treeview .ygtvlp,
body.yui-skin-openesdhTheme .treeview .ygtvlph,
body.yui-skin-openesdhTheme .treeview .ygtvlphh,
body.yui-skin-openesdhTheme .treeview .ygtvdepthcell
{
   background-image: url(images/treeview-sprite.gif) !important;
}

/* end doclist */

/* invite page */

.inviteusersbyemail .byemailbody
{
   background-color: #fbfbfb;
}

.people-finder .results
{
   background-color: #fff;
}

.yui-skin-openesdhTheme .dayview h2, .weekview h2,
.yui-skin-openesdhTheme .calendar.weekview thead th,
.yui-skin-openesdhTheme .calendar.monthview thead th
{
   color: #000;
}

/* filter list link */

.yui-skin-openesdhTheme li.selected,
body.yui-skin-openesdhTheme .treeview .selected,
body.yui-skin-openesdhTheme .categoryview .selected,
body.yui-skin-openesdhTheme .yui-columnbrowser .yui-carousel-content li.yui-columnbrowser-column a.yui-columnbrowser-item-selected
{
   background-color: #eee;
}

/* these rules need to be separate from the above for ie6 */
.yui-skin-openesdhTheme .treeview .selected > table,
.yui-skin-openesdhTheme .categoryview .selected > table
{
   background-color: #eee;
}

.yui-skin-openesdhTheme .filter a.disabled,
.yui-skin-openesdhTheme .filter a.disabled:active,
.yui-skin-openesdhTheme .filter a.disabled:hover,
.yui-skin-openesdhTheme .filter a.disabled:visited,
.yui-skin-openesdhTheme .tags a.disabled,
.yui-skin-openesdhTheme .tags a.disabled:active,
.yui-skin-openesdhTheme .tags a.disabled:hover,
.yui-skin-openesdhTheme .tags a.disabled:visited
{
   color: #ccc;
   cursor: not-allowed;
}

.yui-skin-openesdhTheme .filter a:hover,
.yui-skin-openesdhTheme .tags a:hover
{
   text-decoration: none;
}

/* Link color */

.yui-skin-openesdhTheme .node .nodeTitle a,
.yui-skin-openesdhTheme .node .nodeURL a,
.yui-skin-openesdhTheme .nodeAttrValue a,
.yui-skin-openesdhTheme .nodeFooter .tag a,
.yui-skin-openesdhTheme .yui-dt-highlighted .tag a,
.yui-skin-openesdhTheme .yui-dt-highlighted .category a,
.yui-skin-openesdhTheme .yui-dt-highlighted .item-social a,
.yui-skin-openesdhTheme a.wiki-tag-link,
.yui-skin-openesdhTheme .node .userLink a,
.yui-skin-openesdhTheme .site-members h3 a,
.yui-skin-openesdhTheme .yui-calendar td.calcell a,
.yui-skin-openesdhTheme .doclist .documents a,
.yui-skin-openesdhTheme .attrValue a,
.yui-skin-openesdhTheme .detail .item a,
.yui-skin-openesdhTheme .info .meta-value a,
.yui-skin-openesdhTheme .rules-none a,
.yui-skin-openesdhTheme .agendaview a,
.yui-skin-openesdhTheme a.previousEvents,
.yui-skin-openesdhTheme a.nextEvents,
.yui-skin-openesdhTheme div.channels a
{
   color: #333;
}

.yui-skin-openesdhTheme .tag a,
.yui-skin-openesdhTheme .category a,
.yui-skin-openesdhTheme .item-social a,
.yui-skin-openesdhTheme .document-tags .tag
{
   color: #333;
}

.yui-skin-openesdhTheme .tag a,
.yui-skin-openesdhTheme .document-tags .tag
{
   background-color: #eee;
}

.cmis .body a
{
   color: #00AE42;
}

.yui-skin-openesdhTheme .rules-list a
{
   color: #333;
}

/* Calendar */

/* Day/Week timed events */
.fc-content .fc-event-skin
{
   background-color: #C0C0C0; /* Theme Colour 1 */
   border-color: #B0B0B0;
   color: #333;
}

/* Month view timed events */
.fc-content .fc-view-month .fc-event-skin
{
   background-color: transparent;
   border-color: transparent;
   color: #333;
}

/* All day events */
.fc-content .fc-event-allday .fc-event-skin,
.fc-content a.fc-event.fc-event-allday,
.fc-content .fc-view-month .fc-event-multiday .fc-event-skin,
.fc-content .fc-view-month a.fc-event.fc-event-multiday
{
   background-color: #C0C0C0;
   border-color: #C0C0C0;
   color: #333;
}

.fc-content a.fc-event-skin:hover
{
   color: #333;
}

/* End Calendar */

/* Document */

.document-version
{
   background-color: #aaa;
   color: #fff;
}

/* Twisters */

.alfresco-twister-open
{
   background: transparent url(images/expanded.png) no-repeat scroll 0 50%;
}

.alfresco-twister-closed
{
   background: transparent url(images/collapsed.png) no-repeat scroll 0 50% !important;
}

/* Theme colors */

.theme-color-1,
a.theme-color-1,
a.theme-color-1:visited,
a.theme-color-1:hover
{
   color: #333;
}

.theme-color-2,
a.theme-color-2,
a.theme-color-2:visited,
a.theme-color-2:hover
{
   color: #333;
}

.theme-color-3,
a.theme-color-3,
a.theme-color-3:visited,
a.theme-color-3:hover
{
   color: #333;
}

.theme-color-4,
a.theme-color-4,
a.theme-color-4:visited,
a.theme-color-4:hover
{
   color: #333;
}

.theme-color-5,
a.theme-color-5,
a.theme-color-5:visited,
a.theme-color-5:hover
{
   color: #ccc;
}

/* Theme background colors */

.theme-bg-color-1,
div.theme-bg-color-1
{
   background-color: #fff;
}

.theme-bg-color-2,
div.theme-bg-color-2
{
   background-color: #eee;
}

.theme-bg-color-3,
div.theme-bg-color-3
{
   background-color: #F5F5F5;
}

.theme-bg-color-4,
div.theme-bg-color-4
{
   background-color: #eee;
}

.theme-bg-color-5,
div.theme-bg-color-5
{
   background-color: #222;
}

.theme-bg-color-6,
div.theme-bg-color-6
{
   background-color: #f4f4f4;
}

/* Used for editing - same as meta data fields */

.theme-bg-color-7,
div.theme-bg-color-7
{
   background-color: #fff;
}

.theme-bg-color-8,
div.theme-bg-color-8
{
   background-color: #fff;
}

.theme-bg-1
{

}

.theme-bg-2
{
   background-color: #fff;
}

.theme-bg-3
{
   background-color: #CCCCCC;
   background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(0, rgb(204,204,204)),
      color-stop(1, rgb(232,232,232))
   );
   background-image: -moz-linear-gradient(
       center top,
       rgb(204,204,204) 0%,
       rgb(232,232,232) 100%
   );
}

.theme-bg-4
{
   background-color: #33FF66;
   background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(0, rgb(51,255,102)),
      color-stop(1, rgb(51,153,102))
   );
   background-image: -moz-linear-gradient(
      top,
      rgb(51,255,102) 0%,
      rgb(51,153,102) 100%
   );
}

.theme-bg-selected
{
   background-color: #eee;
}

/* Theme border type/colors */

.theme-border-1
{
   border-color: #ccc;
}

.theme-border-2
{
   border-color: #333;
}

.theme-border-3
{
   border: 1px solid #c6c6c6 !important;
}

.theme-border-4
{
   border: 1px solid #ccc;
}

.theme-border-5
{
   border: 1px solid #ccc;
}

/* Unauthenticated pages (inc login) */

body.alfresco-guest
{
   background: none;
}

.alfresco-guest .sticky-wrapper
{
   background: rgba(238, 238, 238, 1);
}

.alfresco-guest .theme-overlay
{
   font-family: Roboto,Arial,Helvetica,sans-serif;
   color: #333;
   border: 1px solid #ccc;
   background-color: #fff;
   box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.25);
   border-radius: 6px;
   padding: 0 !important;
   overflow: hidden;
}

.login {
   width: 415px;
   box-sizing: border-box;
}

.login * {
   box-sizing: border-box;
}

.login .error {
   padding: 10px;
}

.login form
{
   padding: 25px;
}

.login input[type="text"],
.login input[type="password"]
{
  width: 100%;
  border: none;
  border-bottom: 1px #A09E9D solid;
  padding: 10px 0;
  margin: 0 auto;
  display: block;
  font-size: 16px;
}

.login label
{
   font-size: 12px;
   color: #0079aa;
}

.login .form-group {
   margin: 30px 0;
}

.login .form-group:last-child {
   margin-bottom: 0;
}


.login .yui-submit-button button {
   color: white;
   text-transform: uppercase;
   font-size: 14px;
   padding: 0;
   background-color: #0079aa; 
   padding: 5px;
   min-width: 90px;
   text-align: center;
   display: inline-block;
   border-radius: 5px;
      box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.25);

}

::-webkit-input-placeholder { color: #A09E9D; }
::-moz-placeholder { color: #A09E9D; } /* firefox 19+ */
:-ms-input-placeholder { color: #A09E9D; } /* ie */
input:-moz-placeholder { color: #A09E9D; }

.theme-company-logo
{
   height: 48px;
   width: 428px;
}

.theme-company-logo.logo-com
{
   background: transparent url(images/logo.png) no-repeat;
}

.theme-company-logo.logo-ent
{
   background: transparent url(images/logo-enterprise.png) no-repeat;
}

.theme-flow-arrow
{
   margin:  0;
   padding: 0;
	width: 50px;
   height: 98px;
   background: url(images/flow-arrow.png) no-repeat;
}

.balloon
{
   border-radius: 6px !important;
   padding: 10px 12px !important;
   font-size: 91%;
}

/* Meeting Places Code */

.docfolder-label
{
   overflow:auto;
}

.docfolder-input
{
   width: 203px;
   vertical-align: top;
   margin-top: 2px;
}

.tree-div
{
   height: 200px;
   overflow: auto;
   margin-left: 5px;
}

/** YUI component overrides */

.ygtvlabel, .ygtvlabel:link, .ygtvlabel:visited, .ygtvlabel:hover
{
   background-color: #fff;
   cursor: pointer;
   margin-left: 2px;
   text-decoration: none;
}

.yui-resize .yui-resize-handle-b
{
   background-color: transparent !important;
}

.yui-skin-openesdhTheme .yui-resize .yui-resize-handle-inner-t,
.yui-skin-openesdhTheme .yui-resize .yui-resize-handle-inner-b
{
   background: none !important;
}

/** Share component overrides */

.header .header-left
{
   margin-left: -160px;
}

.header .logo
{
   position: relative;
   left: 168px;
   top: 58px;
}

.header .header-left .logo-spacer
{
   border-right: 1px solid #ccc !important;
   height: 40px !important;
   width: 1px !important;
   margin: 0 !important;
   position: relative;
   left: 165px;
   top: 62px;
}

.header .app-items
{
   margin-left: 8px;
}

.header .app-items span.yui-button span.first-child button
{
   margin-bottom: 3px !important;
}

.header .user-items div.search-box
{
   border: 1px solid #ccc !important;
   top: 5px !important;
   padding: 2px;
}

.header .user-items div.search-box span.yui-button
{
   height: 21px !important;
}

.header .user-items div.yuimenu div.bd ul li.user-menuitem
{
   background: none !important;
   border-bottom: 1px solid #eee !important;
}

.header .app-items span.yui-button span.first-child button
{
   padding: 22px 4px 1px !important;
}

.header .yuimenu .bd
{
   margin-top: -2px !important;
}

.page-title div.links
{
   padding-top: 6px;
}

.node-header
{
   padding-top: 6px;
}

.node-header h1
{
   padding: 4px 0 0.3em !important;
}

.node-header .node-path
{
   padding-top: 0 !important;
   padding-bottom: 0.25em !important;
}

.node-header .status-banner
{
   margin-top: 0 !important;
   margin-bottom: 0.75em;
}

/** tweak width of global picker treeview to avoid wrap*/
.global-folder .treeview
{
   width: 31em !important;
}

.global-folder .site-picker a.selected,
.global-folder .container-picker a.selected,
.global-folder .site-picker a:active,
.global-folder .site-picker a:hover,
.global-folder .container-picker a:active,
.global-folder .container-picker a:hover
{
   background-color: #eee !important;
}

.global-folder .site-picker a,
.global-folder .container-picker a
{
   border-bottom: 1px solid #eee !important;
}

.global-folder .mode button
{
   color: #333 !important;
}

.users .header-bar
{
   font-family: Roboto Bold, Arial, sans-serif;
   font-weight: normal !important;
   background-color: #eee !important;
   border-bottom: 1px solid #ccc !important;
   margin: 1.5em 1em 1em !important;
}

.profile .header-bar
{
   font-family: Roboto Bold, Arial, sans-serif;
   font-weight: normal !important;
   background-color: #eee !important;
   border-bottom: 1px solid #ccc !important;
   margin: 1.5em 1em 1em !important;
}

.profile .fieldlabelright
{
   font-family: Roboto Bold, Arial, sans-serif;
   font-weight: normal !important;
}

.profile .sites li.first, .profile .content li.first, .profile .people li.first
{
   margin-top: -15px;
   border-top: 0 none !important;
}

.profile .sites li, .profile .content li, .profile .people li
{
   border-top: 1px solid #ccc !important;
}

.profile .people li a
{
   font-family: Roboto Bold, Arial, sans-serif;
   font-weight: normal !important;
}

.search .itemname a
{
   font-weight: normal !important;
   font-size: 131% !important;
}

.search .search-box input
{
   padding: 3.666px !important;
}

.search .search-sites
{
   padding-top: 0 !important;
}

.search .search-sites a.bold
{
   font-family: Roboto Bold, Arial, sans-serif;
   font-weight: normal !important;
}

.search .form-row
{
   margin: -10px 0 1em 2em !important;
}

.search .thumbnail > span img
{
   box-shadow: 0.33px 2px 8px rgba(0, 0, 0, 0.3) !important;
}

.images .thumbnail
{
   box-shadow: 0.33px 2px 3px rgba(0, 0, 0, 0.35) !important;
}

.alfresco-datatable td,
.yui-dt-data td
{
   border-bottom: 1px solid #eee !important
}

.yui-dt-data .yui-dt-last td
{
   border-bottom: none !important;
}

/** Collab component toolbars e.g. blog */
.share-toolbar .action-bar, .share-toolbar .rss-feed
{
   padding: 0.25em 0.5em !important;
}

.customise-pages-page-list-item img
{
   border-radius: 6px;
   box-shadow: 0.33px 2px 8px rgba(0, 0, 0, 0.3);
}

/** search boxes for site, people and members finders */
.search-text input
{
   padding: 3.666px !important;
}

.dashlet .search-text input
{
   padding: 1.666px !important;
}

.people-finder .result-info
{
   border-bottom: 1px solid #ccc !important;
}

.site-finder .search-bar
{
   border-bottom: 1px solid #ccc !important;
   height: 2.5em !important;
}

.site-finder .search-bar div
{
   padding-top: 0.2em;
}

.people-finder .search-bar,
.group-finder .search-bar
{
   border-bottom: 1px solid #ccc !important;
   height: 2.5em !important;
}

.people-finder .search-bar div,
.group-finder .search-bar div
{
   padding-top: 0.2em;
}

.object-finder .picker-header .search .search-input
{
   padding: 0.3em 1em 0.3em 0.5em !important;
}

/** search controls for people, groups and pending invites */
.search-controls
{
   border-bottom: 1px solid #ccc !important;
   height: 2.5em !important;
}

.search-controls div
{
   padding-top: 0.25em;
}

.help .subtitle
{
   font-family: Roboto Bold, Arial, sans-serif;
   font-weight: normal !important;
}

.alfresco-share div.calendar-currentMonth .yui-button
{
   background: none !important;
}

.alfresco-share div.calendar-currentMonth .yui-button-checked
{
   background: none repeat scroll 0 0 #ccc !important;
}

li.usedDashlet
{
   background-color: #eee;
}

li.usedDashlet.dnd-focused
{
   background-color: #999;
}

.path-nav .heading
{
   font-family: Roboto Bold, Arial, sans-serif;
   font-weight: normal !important;
}

.doclist .info-banner
{
   font-family: Roboto Bold, Arial, sans-serif;
   font-weight: normal !important;
}

/* saved and site search dashlets */
table td.thumbnail img
{
   box-shadow: 0 3px 4px rgba(0, 0, 0, 0.35) !important;
}

/* Tag editor in wiki/discussions/blog */
.tags_box li a:link
{
   color: #333 !important;
}

.tags_box li a:hover,
.tags_box li a.hover
{
   border: 1px solid transparent !important;
}

/* Uploaders */
.fileupload-percentage-span,
.fileupload-progressInfo-span
{
   font-family: Roboto Bold, Arial, sans-serif;
   font-weight: normal !important;
}

.dnd-upload .title-folder
{
   vertical-align: baseline !important;
}

.about-share .bd
{
   border-radius: 0 !important;
}

/* Image selector container */
.yui-skin-openesdhTheme .yui-toolbar-container .yui-toolbar-titlebar
{
   background-image: none !important;
}

/* Activities feed */
.activities .activity:hover
{
   background-color: #eee;
}



.company-title 
{
   background-color: #0079aa;
   color: white;
   padding: 17px 10px;
   text-align: center;
   font-size: 20px;
   font-weight: 500;
}

/* checkboxes */
/* .squaredThree */
.squaredThree {
  width: 20px;
  height: 20px;
  position: relative;
  display: inline-block;
}
.squaredThree label {
  width: 20px;
  height: 20px;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  background: transparent;
  border-radius: 4px;
  border-width: 1px;
  border-color:  #A09E9D;
  border-style:  solid;
}
.squaredThree label:after {
  content: '';
  width: 9px;
  height: 5px;
  position: absolute;
  top: 4px;
  left: 4px;
  border: 3px solid #fcfff4;
  border-top: none;
  border-right: none;
  background: transparent;
  opacity: 0;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.squaredThree label:hover::after {
  opacity: 0.3;
}
.squaredThree input[type=checkbox] {
  visibility: hidden;
}

.squaredThree input[type=checkbox]:checked + label {
   background: #0079aa;
   border-color: #0079aa;
}

.squaredThree input[type=checkbox]:checked + label:after {
  opacity: 1;
}

.checkbox > span {
   display: inline-block;
    font-size: 13px;
   color: #A09E9D;
   margin-left: 5px;
   vertical-align: middle;
}

/* helpers */
.text-center {
   text-align: center;
}

.login label {
   -webkit-transition: 0.2s opacity linear;
   transition: 0.2s opacity linear;
}

.hide-label label {
   opacity: 0;
}

.dashlet-case-info .titleBarActions {
	top: 10px;
	right: 10px;
}

.input-field {
	position: relative;
	/*padding: 0 0.75rem;*/
    /*margin-top: 1rem;*/
}

.input-field input[type=text], 
.input-field input[type=password], 
.input-field input[type=email], 
.input-field input[type=url], 
.input-field input[type=time], 
.input-field input[type=date], 
.input-field input[type=datetime-local], 
.input-field input[type=tel], 
.input-field input[type=number], 
.input-field input[type=search], 
.input-field textarea {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #d3d3d3;
    border-radius: 0;
    outline: none;
    height: 3rem;
    width: 100%;
    font-size: 1rem;
    margin: 0 0 15px 0;
    padding: 0;
    box-shadow: none;
   /* -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;*/
    transition: all .3s;
}

.input-field .dijitPlaceHolder {
    color: #9e9e9e;
    position: absolute;
    top: 0.8rem;
    left: 0;
    font-size: 1rem;
    cursor: text;
    -webkit-transition: .2s ease-out;
    -moz-transition: .2s ease-out;
    -o-transition: .2s ease-out;
    -ms-transition: .2s ease-out;
    transition: .2s ease-out;
}

.active .dijitPlaceHolder,
.active.dijitPlaceHolder {
    font-size: 0.8rem;
    -webkit-transform: translateY(-140%);
    -moz-transform: translateY(-140%);
    -ms-transform: translateY(-140%);
    -o-transform: translateY(-140%);
    transform: translateY(-140%);
}

.input-field textarea {
    overflow-y: hidden;
    padding: 1.6rem 0;
    resize: none;
    height: auto;
}

.validation-message {
	font-size: 0.9em;
	margin: 0 !important;
	position: relative;
	top: -10px;
}

.validation,
.validation-message  {
	/* display: none !important; */
}

.validation-message {
	display: none;
}

.validation-error .validation-message {
   display: none;
   color: #ED2525;
   font-weight: bold;
   margin: 0 5px;
}

.validation-error .validation-message.display {
   display: inline-block;
}

.alfresco-dialog-AlfDialog.dijitDialog .validation-error input,
.alfresco-dialog-AlfDialog.dijitDialog .validation-error textarea {
	border-bottom: 1px solid #ED2525;
}

.alfresco-forms-controls-MultiSelect {
	padding-top: 10px;
}

.active .alfresco-forms-controls-MultiSelect input {
	height: auto;
}