.member-role {
    width: 100%;
    margin-top: .5em;
}

.member-role:first-child {
    margin-top: 0;
}

.member-role > div {
    display: inline-block;
    vertical-align: middle;
}

.member-role .authority-picture {
    margin-right: 1.5em;
}

.member-role .authority-name {
    width: 60%;
}

.member-role .role-select {
}

.member-role .remove-button {
    margin-left: 1em;
    width: 10em;
}

.role-select .alfresco-forms-controls-BaseFormControl,
.role-select .alfresco-forms-controls-BaseFormControl > .clear-both {
    margin-bottom: 0;
}