.member-role {
    width: 100%;
    margin-top: .5em;
}

.member-role:first-child {
    margin-top: 0;
}

.member-role div {
    display: inline-block;
    vertical-align: middle;
}

.member-role .authority {
    width: 70%;
}

.member-role .authority .authority-picture {
    margin-right: 1.5em;
    vertical-align: middle;
}

.member-role .role-select {
    width: 10em;
}

.member-role .remove-button {
    width: 5em;
}