<div class="member-role">
    <div class="authority-picture">
        <img src=""
             data-dojo-attach-point="authorityPictureNode"/>
    </div>
    <div class="authority-name">
        <a data-dojo-attach-point="authorityDisplayNameNode">${displayName}</a>
        <span class="lighter authority-username"
              data-dojo-attach-point="authorityUserNameNode">(${authority})</span>
        <span data-dojo-attach-point="authorityExtraInfoNode"></span>
    </div>
    <div data-dojo-attach-point="roleNode" class="role-select"></div>
    <div data-dojo-attach-point="removeButtonNode" class="remove-button"></div>
</div>
