.category-item {
    border-top: 1px solid #ccc;
    clear: both;
    padding: .25em;
}

.category-item .icon {
    vertical-align: middle;
}

.item-selected {
    background: #eee;
}

.browse-button {
    float: right;
    font-weight: bold;
    text-align: center;
    padding-left: .5em;
    padding-right: .5em;
    font-size: 1.5em;
    border-left: 1px solid #ccc;
}