.category-item {
    border-top: 1px solid #ccc;
    clear: both;
    height: 1em;
    padding: 1em;
}

.item-selected {
    background: #eee;
}

.browse-button {
    float: right;
    text-align: center;
    padding-left: .5em;
    padding-right: .5em;
    font-size: 1.5em;
    border-left: 1px solid #ccc;
}