.widgets {
  margin-bottom: 10px;
}
.esdh-frontpage-filter-pane {
  margin: 10px 0;
}
.filters-toggle > .dijitButton {
  margin: 0 0 -2px;
}
.filters-container {
  padding: 10px;
  border-radius: 0 4px 4px 4px;
  border: solid 1px #ddd;
  position: relative;
}
.add-filters,
.update-filters {
  display: inline-block;
}
.remove-filters {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
.remove-filters .dijitButtonNode {
  border-color: #9F0000 !important;
}
.remove-filters .dijitButtonDisabled .dijitButtonNode {
  border-color: #ddd !important;
}
.update-filters .dijitButtonNode {
  border-color: #6A9F00 !important;
}
