/*
  CSS styles to override the default Dijit theme to look like Alfresco's theme
  Primarily derived from AlfButton.css and _AlfMenuItemMixin.css
*/

/* Fix styling issues caused by dgrid ColumnReorder */
.dgrid .dojoDndItem,
.dgrid .dojoDndItemAnchor,
.dgrid .dojoDndItemSelected,
.dgrid .dojoDndItemOver,
.dgrid th.dgrid-cell
{
    background-color: inherit;
    background-image: none;
    padding: .5em .25em;
    margin: inherit;
    border: 1px #ddd solid;
}
.dgrid .dojoDndItemOver {
    background-color: #f4f4f4;
}