/* Some sensible defaults */

/* Type column */
.field-fileType {
    width: 3em;
}
/* Type column */
.field-type {
    width: 8em;
}

/* Actions column */
.field-nodeRef {
   width: 6em;
}

/* Date fields */
.field-cm-modified,
.field-cm-created {
    width: 8em;
}
