.auto-height .dgrid {
    height: auto;
}

.auto-height .dgrid .dgrid-scroller {
    position: relative;
    overflow: visible;
}

/* Icons */
.magenta.ui-icon {
    text-indent: -1000em;
    display: inline-block;
    overflow: hidden;
}

/* Action buttons */
.grid-action {
    background-color: #eee;
    border-radius: 5px;
    height: 20px !important;
    width: 20px !important;
    margin: 0 5px 0 0;
}

.grid-action:hover,
.grid-action:active {
    background-color: #ddd;
}

/* TODO: these should be moved */
.action-case-dashboard {
    background-position: -30px -78px;
}
.action-case-edit {
    background-position: -62px -111px;
}
.action-case-documents {
    background-position: -14px -95px;
}
/*.dgrid-row-odd{
    background-color: #dddddd;
}*/

.dgrid-no-data{
	padding-top:.5em;
	padding-left:1em;
	font-size: 108%;
}
