<div class="esdh-frontpage-filter-pane">
    <span data-dojo-attach-point="filtersToggleButtonNode" class="filters-toggle"></span>
    <div data-dojo-attach-point="filtersContainerToggleNode" class="filters-container">
        <p>Vis sager hvor:</p>
        <div data-dojo-attach-point="containerNode"></div>
        <span data-dojo-attach-point="applyButtonNode" class="update-filters" id="update-filters-btn"></span>
        <span data-dojo-attach-point="newFilterButtonNode" class="add-filters"></span>       
        <span data-dojo-attach-point="removeAllButtonNode" class="remove-filters"></span>
    </div>
</div>
