.alfresco-dashlets-Dashlet--toolbar,
.alfresco-dashlets-Dashlet--titleBarActions,
.alfresco-dashlets-Dashlet--toolbar2,
.alfresco-dashlets-Dashlet--body {
   display: none;
}

.alfresco-dashlets-Dashlet--widgets {
   display: block;
}

.alfresco-dashlets-Dashlet--body {
   overflow: hidden;
}

.dashlet .title {
	/* border: 1px gray solid;*/
	font-weight: bold;
}

.alfresco-dashlets-Dashlet--footerBarActions {
	padding: 10px;
	.alfresco-buttons-AlfButton span,
	.alfresco-buttons-AlfButton .dijitReset.dijitInline.dijitButtonNode {
		padding: 0;
	}
}